In [1]:
from utils import calculate_population

In [2]:
calculate_population("example-data/10km_circle_leeds.geojson")

Population estimate: 702134

,OA21CD,latitude,longitude,Total,geometry,contained
145292,E00054534,53.77124,-1.66660,333,POINT (-1.6666 53.77124),True
146492,E00055522,53.71681,-1.59466,291,POINT (-1.59466 53.71681),True
146495,E00055525,53.71605,-1.59081,208,POINT (-1.59081 53.71605),True
146637,E00055673,53.73473,-1.64197,287,POINT (-1.64197 53.73473),True
146638,E00055674,53.73516,-1.65105,295,POINT (-1.65105 53.73516),True
...,...,...,...,...,...,...
151110,E00059961,53.71184,-1.49749,273,POINT (-1.49749 53.71184),True
151143,E00059996,53.72182,-1.51658,110,POINT (-1.51658 53.72182),True
151497,E00180090,53.71775,-1.47941,333,POINT (-1.47941 53.71775),True
151499,E00180094,53.72136,-1.49668,135,POINT (-1.49668 53.72136),True
151505,E00180103,53.72151,-1.49410,620,POINT (-1.4941 53.72151),True